
/bin/                 # Ignore compiled files
.classpath             # Eclipse classpath file
.project               # Eclipse project file
.settings/             # Eclipse settings folder
/bin/
